.container {
    display: inline-flex;
    position: absolute;
    top: 23px;
    left: 100px;
}

.grade {
    margin: 10px;
}

.linha {
    margin-top: 13px;
}

.cell-1 {
    font-weight: bold;
}

.texto {
    width: 749px;
    font-size: 20px;
    border-style: solid;
    padding: 20px;
    border-width: 2px;
    border-color: #9E9E9E;
}

span.grammar , .cell-1.grammar{
    background: #c19595;
}

span.ortografic, .cell-1.ortografic {
    background-color: yellow !important;
    font-weight: bold;
}

html {
    background: #eceff1;
}