<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Redação</title>
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
</head>
<body>  
    {% if texto %}
        <div class='container'>
            <div class='texto'>
                {% autoescape false %}
                {% for linha in texto %}
                    <p>{{linha}}</p>
                {% endfor %}
                {% endautoescape %}
            </div>
            <div class='grade'>
            {% for erro in lErros %}
            <div class='linha'>
                <div class="cell-1 {{ erro['classe'] }}">Erro {{ erro['idErro'] }} - {{ erro['tpErro'] }}</div>
                <div class='cell-2'>{{ erro['sugestao'] }}</div>
                <div class='cell-3'>{{ erro['regra'] }}</div>
                <div class='cell-5'>{{ erro['codRegra'] }}</div>
            </div>
            {% endfor %}
            </div>
        </div>
    {% else %}
        <form action="{{ url_for('send_essay') }}" method=post>
            <div style="display: table-caption;"></div>
                <h1>Digite seu texto:</h1>
                <textarea name="redacao" id="redacao" cols="100" rows="35" placeholder="Redação" style="font-size: 15px;"></textarea>
                <input type="submit" value="Enviar">
            </div> 
        </form>
    {% endif %}
</body>
</html>